<app-menu></app-menu>

<h1>Section CSS Grid 3</h1>

<section class="grid">
	<div class="grid-item">
		<img src="../../assets/lobo3.jpg">
		<p>Legenda</p>
	</div>
	<div class="grid-item">
		<img src="../../assets/lobo2.jpg">
		<p>Legenda</p>
	</div>
	<div class="grid-item">
		<img src="../../assets/lobo1.jpg">
		<p>Legenda</p>
	</div>
</section>

<div class="referencia">
	<h5>Referências de Estudo</h5>
	<p class="referencia-item">
		<span>Vídeo: </span>
		<a href="https://www.youtube.com/watch?v=x-4z_u8LcGc"
			target="_blank">https://www.youtube.com/watch?v=x-4z_u8LcGc</a>
	</p>
	<p class="referencia-item">
		<span>Curso: </span>
		<a href="https://www.origamid.com/curso/css-flexbox/2-2-flex-direction/"
			target="_blank">https://www.origamid.com/curso/css-flexbox/2-2-flex-direction/</a>
	</p>
	<p class="referencia-item">
		<span>Guia Flexbox: </span>
		<a href="https://origamid.com/projetos/flexbox-guia-completo/"
			target="_blank">https://origamid.com/projetos/flexbox-guia-completo/</a>
	</p>
</div>