/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
 */

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 100%;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    color: #222222;
}

span {
    font-weight: bold;
}

a {
    text-decoration: none;
}

.referencia {
    margin: 50px 0px 50px 10px;
}

.referencia-item {
    margin-top: 10px;
}